*{
    text-align: center;
    
}
html{
    background-color: antiquewhite;
    font-size: 16px;
}
body{
    width: 640px;
    margin: auto;/*양쪽으로 균일하게 분배*/
}
img{
    width: 300px;
    height: 400px;
    border-radius: 200px 200px;
}
p{
    font-size: 1.2rem;
    font-family: monospace;
}
